.color-texto{
    color: #403D39;
}

.color-fondo{
    background-color: #FFFCF2;
}

.color-primario{
    color: #CCC5B9;
}

.color-secundario{
    color: #252422;
}

.color-acento{
    color: #8ffb44;;
}