*{
    margin: 0px;
    padding: 0px;
    font-family: Akshar;
  
}


body{
      background-color: #FFFCF2;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      overflow-x: hidden;
}



.header{
    /* border: #252422 1px solid; */
    top: 0;
    padding: 25px 0px;
    z-index: 1;  
    position: sticky;
    background-color: #CCC5B9;
    height: 82px;
    opacity: 1;
    transition: opacity 0.3s ease;
}



.botonHome{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.botonStore{
    position: absolute;
    right: 10vw;
    top: 50%;
    transform: translateY(-50%);
}

.botonHome img{
    background-color: #252422;
    width: 40px;
    height: auto;
    border-radius: 50px;
    padding: 20px;
        
}


.botonStore img{
    background-color: #8ffb44;
    width: 160px;
    height: 40px;
    padding: 20px;
    border-radius: 50px;
    

}



.centrarH{
    margin: 20px;
    text-align: center;
    color: #403D39;

}

h1{
    font-size: 60px;
  
}

h2{
    font-size: 40px;
}

h3{
    font-size: 35px;
}

.VentanaGrande{
    margin-top: 50px;
    /* border: solid 2px rgb(255, 15, 15); */
    width: 80vw;
    margin-left:calc(50vw - 40vw);
    
}

.ImagenVentanaGrande{

    border:solid 15px #252422;
  
    width: auto;
    height: 762px;

    border-radius: 40px;
    overflow: hidden;
}

.ImagenVentanaGrande img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.VentanaGrande p{

    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}


p{
    color: #403D39;
}

.VentanaLateral{
   
    margin-top: 50px;
    align-items: center;
   
    display: inline-flex;
    width: 80vw;
    margin-left:calc(50vw - 40vw);
}


.ImagenVentanaLateral{
    border:solid 15px #252422;

    border-radius: 40px;
    overflow: hidden;
    width: 50%;
    /* flex: 0 0 800px; */
    height: 373px;
     margin-right: 40px;
}



.TextoVentanaLateral
{
    margin-left: 40px;
    /* border:solid 15px #a46e00; */
    width: 50%;
    height: auto;
}




.TextoVentanaLateral p{
    text-align: center;
    font-size: 30px;
}

.ImagenVentanaLateral img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}




.DobleVentana{
   
    margin-top: 50px;

    display: flex;

    width: 80vw;
    margin-left:calc(50vw - 40vw);
}


.VentanaIzq{

   
    width: 35vw;
    height: auto;
    display: block;
}


.VentanaDer{

    

    margin-left: auto;

    width: 35vw;
    height: auto;
    display: block;
}

.ImagenVentanaDoble{
      
    height: 373px;
    border:solid 15px #252422;
    border-radius: 40px;
    overflow: hidden;
   
}


.ImagenVentanaDoble img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.TextoDobleVentana{
    text-align: center;
        margin-top: 50px;
    font-size: 30px;
}


#footer
{
    margin-top: 50px;


    width: 100vw;
    height: 50px;
    background-color: #8ffb44;
    display: flex;
    align-items: center;
}

#footer p{
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #403D39;
}

#footer img{
    height: 35px;
    width: auto;
    margin-left: 30px;
    display: block;
    box-sizing: border-box;
    border: 3px solid transparent; 

    transition: opacity 0.3s ease, border-color 0.3s ease; 
}

#footer img:hover{
    opacity:  1;  
    border-color:  #403D39;
}



@media only screen and (max-width: 400px) {
    
    .botonHome img{
        width: 25px;
    }

    .botonStore img{
        width: 50px;
        height: 25px;
    }


    h1{
        font-size: 40px;
    }

    h2{
        font-size: 30px;
    }

    h3{
        font-size: 25px;
    }

   
}

@media only screen and (max-width: 800px) {
    


    #footer > p{
        font-size: 16px;
    }

    #footer img{
        margin-left: 10px;
        height: 25px;
    }

    .VentanaGrande, .VentanaLateral, .DobleVentana {
        width: 90vw;
        margin-left: calc(50vw - 45vw);
        flex-direction: column;
        
    }

    .ImagenVentanaLateral, .TextoVentanaLateral, .VentanaIzq, .VentanaDer {
        width: 100%;
        height: auto;
    }


    .ImagenVentanaDoble, .ImagenVentanaGrande, .ImagenVentanaLateral{
        height: auto;
    }

    .ImagenVentanaLateral{
        box-sizing: border-box;
    }

    .ImagenVentanaLateral img{
        width: 100%;
        height: auto;
    }
    
   .ImagenVentanaLateral, .TextoVentanaLateral{
        margin-left: 0px;
        margin-right: 0px;
   }

    .TextoVentanaLateral{
         margin-top: 50px;
    }

    .VentanaDer{
        margin-top: 50px;
    }

}