*{
    margin: 0px;
    padding: 0px;
}

body{
      background-color: #FFFCF2;
}

.header{
    /* border: #252422 1px solid; */
    top: 60px;
    padding: 5px;

    justify-content: center;

    position: sticky;

}

.botonHome img{
    background-color: #252422;
    width: 60px;
    height: auto;
    border-radius: 50px;
    padding: 20px;
    
    display: flex;
    margin: auto;
    
}

.botonStore img{
    background-color: #8ffb44;
    width: 160px;
    height: 60px;
    padding: 20px;
    border-radius: 50px;
    position: relative;
    right: 73px;

}

.botonStore{
    position: absolute;
    right: 5px;
    top: 5px;
}

.centrarH{
    position: relative;
    top: 70px;
    margin: 40px;
    text-align: center;
    color: #403D39;

}

